@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #ae7c54;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #ae7c54;
}

h4 {
  font-size: 20px;
  color: #ae7c54;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #ae7c54;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* start header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 80px;
  background: #13424c;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

/* .logo {
  height: 100px;
  width: px;
  object-fit: fill;
} */

#header h1 {
  font-size: xx-large;
  color: black;
}

#navbar {
  display: flex;
  align-items: cen;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ae7c54;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: white;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* home page */

#hero {
  background-image: url(/homepage/imgs/hero\ img.jpg);
  height: 900px;
  background-position: top 25% right 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#hero h4,
h2 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #13424c;
}

#hero p {
  color: black;
  font-weight: 500;
}

#hero button {
  padding: 9px 25px;
  background-color: #13424c;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transform: all 0.3s ease 0s;
  color: #ae7c54;
  font-weight: 700;
  font-size: 15px;
  background-repeat: no-repeat;
}

#hero button:hover {
  color: white;
  background-color: black;
}

#features {
  background-color: #218490;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature img {
  width: 200px;
}

#feature .fe-box {
  width: 220px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  background: #13424c;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: black;
  background-color: yellow;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: violet;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: lightskyblue;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: lightcoral;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: lightgreen;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: lightblue;
}

#product1 {
  text-align: center;
}

#product1 h2 {
  color: #13424c;
}

#product1 p {
  color: black;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20 20 30px rgb(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #218490;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #218490;
  font-weight: 500;
  color: white;
  border-color: 1px solid #ae7c54;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* kulang pa ng banner picture, wala pa akong mahanap na maayos */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/homepage/imgs/banner.png");
  /* background-color: #13424c; */
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: white;
  font-size: 25px;
}

#banner h2 {
  color: white;
  font-size: 50px;
  padding: 10px;
}

#banner h2 span {
  color: #ae7c54;
}

#banner button:hover {
  color: white;
  background-color: #218490;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("/homepage/imgs/sm-banner/sm-banner\ 1.avif");
  /* background-color: #13424c; */
  background-size: cover;
  min-width: 850px;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box2 {
  background-image: url(/homepage/imgs/sm-banner/sm-banner\ 2.jpg);
}

#sm-banner h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background-color: #218490;
  border: 1px solid #218490;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("/homepage/imgs/sm-banner/sm-banner\ 3.jpg");
  /* background-color: #13424c; */
  background-size: cover;
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2 {
  background-image: url("/homepage/imgs/sm-banner/sm-banner\ 4.png");
}

#banner3 .banner-box3 {
  background-image: url("/homepage/imgs/sm-banner/sm-banner\ 5.png");
}

#banner3 .banner-box h2 {
  color: red;
  font-weight: 900;
  font-size: 22px;
}

#banner3 .banner-box h3 {
  color: black;
  font-weight: 800;
  font-size: 15px;
  margin-bottom: 100px;
}

#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* background-image: url("/homepage/imgs/newsletter.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #13424c;
}

#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: #cce7d0;

}

#newsletter p{
  font-size: 14px;
  font-weight: 700;
  color: #1a1a1a;
}

#newsletter p span{
  color: #ae7c54;
}

#newsletter .form{
  display: flex;
  width: 40%;
}

#newsletter input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button{
  background-color: #218490;
  color: white;
  white-space: nowrap;
}
